body#checkoutMainContainer {
  background-color: #fff;
  font-family: 'BeoSupreme', 'Lexend Deca', sans-serif;
}

/* Displays the option to enter a foreign document */
.document-box {
  display: none !important;
}

/* Displays the option to enter an international phone */
.phone-box {
  display: none !important;
}

.checkout--bangmx-myvtex-com {
  background-color: #F9F9F9;
  font-family: 'BeoSupreme', 'Lexend Deca', sans-serif;
}

.bo-header__container {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 36px;
  background-color: #FEFEFE;
  box-shadow: 2px -16px 10px 16px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 2px -16px 10px 16px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 2px -16px 10px 16px rgba(0, 0, 0, 0.43);
}

.bo-header__buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 60px;
}

.bo-header__logo svg {
  width: 33px;
  height: 60px;
}

.bo-header__logo>div {
  padding-top: 8px;
}

.bo-header__buttons>div {
  margin: 0 15px;
  padding-top: 10px;
}

.bo-header__profile svg {
  width: 15px;

}

.bo-header__store-locator svg {
  width: 16px;

}

.bo-header__cart svg {
  width: 21px;
}

.btn-success,
.button.checkEmailAuthConflict__modal--button {
  border-radius: 24px;
  text-align: center;
  padding: 10px 32px;
  border-color: rgb(255, 195, 86);
  background: rgb(255, 195, 86);
  color: rgb(25, 24, 23);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px !important;
}

.btn-success:hover,
.button.checkEmailAuthConflict__modal--button:hover {
  background: none !important;
  color: rgb(25, 24, 23) !important;
  border-color: rgb(235, 232, 229);
}

.btn-success:disabled,
.btn-success[disabled] {
  background-color: rgb(255, 195, 86);
  border-color: rgb(255, 195, 86);
  color: #000;
}

#render-cartman {
  display: none;
}

.summary-template-holder {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
}

.cart-more-options,
.cart-template-holder .cart {
  background: none;
  padding: 0;
}

.body-cart-vertical .cart-template-holder {
  order: 1;
  width: 70%;
}

.body-cart-vertical .summary-template-holder {
  width: 30%;
}

.summary-template-holder tfoot tr td.monetary {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

/* .forms.coupon-column.summary-coupon-wrap.text-center {

  display: none;
} */

.table.cart-items td.product-image a,
.table.cart-items td.product-image img {
  width: auto;
  display: block;
  max-width: 55px;
  height: auto;
}

.table.cart-items td.quantity .item-quantity-change i {
  background: none;
  line-height: 22px;
  display: inline-block;
}

.table.cart-items td.quantity .item-quantity-change i:before {
  font-size: 17px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #000;
  border-radius: 100%;
}

.table.cart-items thead tr th.product {
  width: calc(100% - 293px) !important;
}

.table.cart-items thead tr th.quantity {
  min-width: 93px;
}

.table.cart-items td.product-image a,
.table.cart-items td.product-image img {
  max-width: 100px;
  width: 100px;
}

.table.cart-items tr.product-item {
  background-color: rgb(250, 250, 250);
  border: none;
  padding: 20px;
  margin-top: 5px;
}

.bo-footer-container {
  display: flex;
  justify-content: center;
}

.bo-footer-feature {
  width: 33%;
  padding-top: 27px;
  border-top: 1px solid rgb(217, 217, 217);
  max-width: 360px;
  margin: 0 20px;
}

.bo-footer-title {
  font-weight: 600;
  font-size: 14px;
}

.bo-footer-text {
  padding: 35px 0;
  padding-right: 35px;
  color: rgb(85, 85, 85);
}

body.v-custom-step-profile .client-pre-email h3.client-pre-email-h span:before,
body.v-custom-step-shipping .client-pre-email h3.client-pre-email-h span:before,
body.v-custom-step-shipping .client-profile-data .accordion-toggle>span:before,
body.v-custom-step-payment .client-pre-email h3.client-pre-email-h span:before,
body.v-custom-step-payment .client-profile-data .accordion-toggle>span:before,
body.v-custom-step-payment .shipping-data .accordion-toggle:before,
body.v-custom-step-email .client-pre-email h3.client-pre-email-h span:before,
body.v-custom-step-profile .client-profile-data .accordion-toggle>span:before,
body.v-custom-step-shipping .shipping-data .accordion-toggle:before,
body.v-custom-step-payment .payment-data .accordion-toggle>span:not(.payment-edit-link):before,
body.js-vcustom-hideEmailStep .client-profile-data .accordion-toggle>span:before {
  content: "1/3" !important;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 400;
  color: #000000;
}

body.js-vcustom-hideEmailStep .shipping-data .accordion-toggle:before {
  content: "2/3" !important;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 400;
  color: #000000;
}

body.js-vcustom-hideEmailStep .payment-data .accordion-toggle>span:not(.payment-edit-link):before {
  content: "3/3" !important;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 400;
  color: #000000;
}

.cart-more-options .srp-container .srp-main-title,
.client-pre-email h3.client-pre-email-h span:after,
.orderform-template-holder #client-profile-data form.client-pre-email .accordion-toggle,
.orderform-template-holder #client-profile-data .step.client-profile-data .accordion-toggle,
.orderform-template-holder #shipping-data .accordion-toggle,
.orderform-template-holder #payment-data .accordion-toggle,
.orderform-template .cart-template.mini-cart h2 {
  line-height: initial;
  display: block;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.client-notice.notice {
  display: none;
}

.orderform-template-holder .step .input.text label,
.vcustom--vtex-omnishipping-1-x-address label {
  color: rgb(85, 85, 85);
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  font-family: BeoSupreme, "Lexend Deca", Arial, Helvetica, sans-serif;
  line-height: 1.43;
  transition: all 0.3s ease 0s;
}

#client-profile-data,
#shipping-data,
#payment-data {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
  position: relative;
}

#shipping-data {
  display: flex;
  flex-direction: column;
}

.btns-container {
  order: 1;
  position: absolute;
  bottom: -80px;
  left: 2px;
  width: 43%;
  z-index: 2;
}

#client-profile-data {
  background-color: #fff;
  margin-bottom: 20px;
}

.progress-bar-client-profile-data {
  height: 2px;
  /* margin: 0 16px; */
  background: rgb(255, 195, 86);
  width: 33.3%;
}

.progress-bar-shipping-data {
  height: 2px;
  /* margin: 0 16px; */
  background: rgb(255, 195, 86);
  width: 66.6%;
}

.progress-bar-payment-data {
  height: 2px;
  /* margin: 0 16px; */
  background: rgb(255, 195, 86);
  width: 100%;
}

#payment-data {
  /* margin: 0 16px; */
  border-top: solid rgb(255, 195, 86) 5px !important;
}

#shipping-data .progress-bar {
  position: absolute;
  top: 0;
}


.accordion-toggle>span {
  color: #fff;
}

#shipping-data span.accordion-toggle {
  color: #fff !important;
}

.document-box {
  display: none;
}

.box-client-info-pj {
  display: none;
}

.newsletter {
  display: none;
}

.vtex-omnishipping-1-x-addressFormPart1 small {
  display: none;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active .payment-group-item-text:before {
  background: black;
  border-color: #000000;
  box-shadow: inset 0 0 0 3px #fff;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item-text:before {
  border-radius: 0px;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active {
  background: none;
  border-bottom: none;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap.active,
.orderform-template-holder #payment-data .v-custom-payment-item-wrap:hover {
  box-shadow: none;
  border: none;
}

.icon-edit:before {
  content: "\f044";
  color: #000000;
  font-size: 20px;
}

.summary-template-holder .cart-links-bottom .btn-success {
  font-weight: 500;
}

.container.container-main.container-order-form {
  max-width: unset;
  margin: 0;
  width: 100%;
}

div.container.container-main.container-cart {
  max-width: unset;
}

div.checkout-container {
  margin: 70px 0px;
}

.custom-cart-template-wrap {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
}

tbody.totalizers-list {
  border: none !important;
}

.summary-template-holder {
  box-shadow: none !important;
}

#go-to-cart-button {
  display: none;
}

.custom-cart-template-wrap {
  background: none !important;
  box-shadow: none;
}

p.submit.btn-submit-wrapper {
  position: absolute;
  bottom: -80px;
  right: 0px;
  margin: 0;
}

.row-fluid.orderform-template.span12.active {
  padding-bottom: 109px;
}

.accordion-body.collapse.in {
  position: static;
}

.headers.checkout {
  text-align: center;
  padding-top: 50px;
}

.header1 {
  display: flex;
  justify-content: center;
}

.header1 h1 {
  font-size: 12px;
  margin: 0;
}

.headers.checkout h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.loading2 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.payment-confirmation-loading {
  font-size: 37px;
  opacity: 0.5;
}

.form-title>p {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 23px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input.input-xlarge {
  border-radius: 0 !important;
}

p.input.client-email.input,
p.client-first-name.input,
p.client-last-name.input,
p.client-phone.input {
  width: 100% !important;
  padding: 30px 0;
}

p.input.client-email label,
p.client-first-name label,
p.client-last-name label,
p.client-phone label {
  color: #757575;
  position: absolute;
  top: 35px;
  z-index: 7;
  transition: top 0.3s ease 0s !important;
  cursor: text;
}

input#client-email,
input#client-first-name,
input#client-last-name,
input#client-phone {
  border: none !important;
  border-bottom: 1px solid #E1E1E1 !important;
  border-radius: 0 !important;
  box-shadow: none;
  height: 27px;
  padding: 0 !important;
  font-size: 16px;
  color: #000000;
}

input#client-email:focus,
input#client-first-name:focus,
input#client-last-name:focus,
input#client-phone:focus {
  box-shadow: none !important;
}

div.custom-cart-template-wrap {
  padding-top: 0 !important;
  margin-left: 24px;
}

.orderform-template .cart-template.mini-cart h2 {
  font-size: 14px;
  border-bottom: 3px solid #EEEEEE !important;
  padding-bottom: 20px !important;
}

.orderform-template .cart-template.mini-cart .summary-template-holder .summary>.summary-coupon-wrap,
.orderform-template .cart-template.mini-cart .summary-template-holder .summary-coupon-wrap>.summary-coupon {
  display: none !important;
}

span.product-name {
  margin-bottom: 8px;
  color: rgb(85, 85, 85);
  font-size: 14px;
  max-width: calc(82% - 35px) !important;
}

.orderform-template .cart-template.mini-cart .quantity {
  right: unset;
  left: 57px;
  top: 40px;
  background: none;
  box-shadow: none;
  color: #555555;
  font-size: 12px;
  font-weight: 400;
}

.orderform-template .cart-template.mini-cart .quantity:before {
  content: 'Cantidad '

}

div.description {
  display: block !important;
}

div.description>strong.price {
  font-size: 14px;
  color: #000000;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

ul.cart-items img {
  width: 55px;
}

table.table tfoot td.monetary {
  font-size: 16px !important;
  color: #000000 !important;
  font-weight: 500 !important;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td.info {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.summary-cart-template-holder div.cart {
  padding: 0;
}

.mini-cart .cart-items {
  border-bottom: 3px solid #EEEEEE !important;
}

.summary-template-holder .accordion-group {
  border-bottom: 3px solid #EEEEEE !important;
}

.orderform-template>div.orderform-template-holder {
  max-width: 690px;
}

.orderform-template>div.cart-template.mini-cart {
  max-width: 461px;
}

.checkout-container>div.orderform-template {
  justify-content: center;
}

.orderform-template-holder .step .form-step fieldset p span.help.error {
  font-size: 0.75rem;
  letter-spacing: normal;
  text-align: left;
  color: rgb(228, 37, 37);
  margin-top: 2px;
  white-space: nowrap;
}

input.success:not([invalid="true"]) {
  background-image: url(/arquivos/checkMark.png);
  background-size: 20px;
  background-position: right center;
}

.orderform-template-holder #client-profile-data .step.client-profile-data {
  margin-bottom: unset !important;
}

.orderform-template-holder .step.client-profile-data .client-phone:last-child {
  display: none;
}

.orderform-template-holder #client-profile-data .step.client-profile-data .link-box-edit {
  display: none;
}

.btn-go-to-payment-wrapper {
  display: flex;
  justify-content: space-between;
  justify-content: end;
  position: absolute;
  bottom: -80px;
  right: -3px;
}

button.back-button {
  order: -1;
  border-radius: 24px;
  padding: 10px 32px;
  background-color: transparent;
  color: rgb(25, 24, 23);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px !important;
  box-shadow: none;
  outline: none !important;
  text-shadow: none;
  border: 2px solid;

  width: 100%;
  margin: 0;
  min-width: unset;
}

button.back-button:hover {
  border-color: rgb(255, 195, 86);
  background-color: rgb(255, 195, 86);
}

button#btn-go-to-payment {
  width: 44%;
  margin: 0;
  min-width: unset;
}

div#cartLoadedDiv {
  order: 0;
}

div.summary-template-holder {}

.table.cart-items thead {
  display: none;
}

.table.cart-items tbody tr td.quantity {
  order: 0;
  position: absolute;
  bottom: 0;
  left: 125px;
  border: none;
  margin: 0;
}

.table.cart-items tbody tr td.product-price {
  position: absolute;
  bottom: 0;
  right: 60px;
  margin: 0;
  padding: 0;
  width: 60px !important;
  font-size: 16px;
}

div#cartLoadedDiv {
  max-width: 570px;
  margin-right: 140px;
}

.body-cart-vertical .summary-template-holder {
  max-width: 450px;
  padding: 0;
}

.table.cart-items tbody tr td.item-remove {
  position: absolute;
  top: -20px;
  right: -20px;
}

.body-cart-vertical .cart-template.full-cart.active {
  justify-content: center;
}

div.title-cart-products>h4 {
  font-size: 24px;
  color: #000;
}

div.title-cart-summary>h4 {
  font-size: 20px;
  color: #000;
}

.table.cart-items td.product-name a {
  font-size: 16px;
  font-weight: 400;
}

.table.cart-items td.product-name a,
.table.cart-items td.product-name a:hover {
  font-weight: 400;
  color: #000000;
}

.table.cart-items td.quantity .item-quantity-change {
  text-align: center;
  font-size: 16px;
}

.table.cart-items td.quantity .item-quantity-change.item-quantity-change-decrement i:before {
  content: "-";
  line-height: 21px;
  font-size: 33px;
  font-weight: 200;
}

.table.cart-items td.quantity input {
  background-color: transparent;
  color: #000000;
  font-size: 16px;
}

.table.cart-items i.icon.icon-remove.item-remove-ico:before {
  background-image: url(/arquivos/remove-icon.png);
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  content: "";
}

@media (min-width: 769px) {
  .table.cart-items tbody tr td.product-name {
    width: 100% !important;
  }
}

.full-cart .totalizers tfoot td {
  font-size: 16px;
  font-weight: 400;
}

.orderform-template .cart-template.mini-cart .cart {
  max-height: unset;
}

span.shipping-date.pull-left {
  margin-top: 20px;
}

#cart-coupon-add {
  border-radius: 24px;
  text-align: center;
  border-color: rgb(255, 195, 86);
  background: rgb(255, 195, 86);
  color: rgb(25, 24, 23);
  font-size: 18px;
  font-weight: 400;
}

#cart-coupon-add:hover {
  background: none !important;
  color: rgb(25, 24, 23) !important;
  border-color: rgb(235, 232, 229);
}

#cart-coupon {
  border-radius: 24px;
}

#force-shipping-fields {
  color: rgb(85, 85, 85);
}

/* .client-profile-data::after {
  border-top: solid;
  width: 33%;
} */

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #333;
  border: 3px solid white;
  width: 16px;
  height: 16px;
}

input[type='radio']:checked {
  background: #333;
}

.loading .loading-img {
  height: 94%;
}

.loading .loading-bg {
  display: none;
}

.empty-cart-content {
  display: block;
  position: absolute;
  left: calc(50% - 577px);
}

@media only screen and (max-width: 768px){
  .custom-cart-template-wrap {
    margin-top: 90px;
  }

  .summary-template-holder {
    width: 150% !important;
  }
}

@media only screen and (max-width: 690px){
  .table.cart-items td.product-name, .table.cart-items td.quantity {
    margin-left: 145px !important;
  }

  .product-item {
    width: 113% !important;
  }
}

@media only screen and (max-width: 618px){
  .full-cart .cart table tbody tr td.quantity {
    margin-left: 19px !important;
  }
}

@media only screen and (max-width: 540px){
  .product-item {
    width: 140% !important;
  }
}

@media only screen and (max-width: 424px){
  .title-cart-products {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 413px){
  .btn-success, .button.checkEmailAuthConflict__modal--button, .button.back-button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 376px){
  .new-product-price {
    margin-left: 4rem !important;
  }
}
